// ==============================================================
// Reset partial for Business Agency Template
// --------------------------------------------------------------
// If you need reset more attributes or change the selector, 
// please do it here
// ==============================================================
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}